a, input, button:focus{
  box-shadow: none !important;
}

.editorInput{
  padding: var(--chakra-space-3);
}
.editorInput:focus-visible{
  outline: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.editor-paragraph span{
  white-space: pre-wrap;
}